/* تنظیمات پایه برای جلوگیری از زوم و اسکرول */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* جلوگیری از اسکرول */
  overscroll-behavior: none; /* جلوگیری از اسکرول ناخواسته در مرورگرهای موبایل */
  touch-action: none; /* جلوگیری از زوم با حرکات چند لمسی */
  -webkit-user-select: none; /* جلوگیری از انتخاب متن در مرورگرهای موبایل */
  user-select: none;
  -webkit-touch-callout: none; /* جلوگیری از لمس طولانی و نمایش منوی مرورگر */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden; /* جلوگیری از اسکرول داخلی */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* 10 ستون */
  grid-template-rows: repeat(20, 1fr); /* 20 ردیف */
  width: 100vw;
  height: 100vh;
}

.grid-item {
  width: 100%; /* اندازه سلول را کوچک‌تر می‌کنیم */
  height: 100%;
}

.touched {
  background-color: green;
}

.confirm-button {
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
}

.confirm-button:hover {
  background-color: darkblue;
}
