* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overscroll-behavior: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden; /* جلوگیری از اسکرول داخلی */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(100vw / 10), 1fr));
  grid-template-rows: repeat(20, 1fr);
  width: 100vw;
  height: 100vh;
  gap: 0;
}

.grid-item {
  width: 100%; /* سلول‌ها را به اندازه گرید تنظیم می‌کنیم */
  height: 100%;
}

.touched {
  background-color: green;
}

.confirm-button {
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
}

.confirm-button:hover {
  background-color: darkblue;
}
