.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 ستون */
  grid-template-rows: repeat(8, 1fr); /* 8 ردیف */
  width: 100vw;
  height: 100vh;
}

.touched {
  background-color: green;
}

.confirm-button {
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
}

.confirm-button:hover {
  background-color: darkblue;
}

.tContainer {
  display: grid;
  width: 100vw; /* عرض کامل */
  height: 100dvh; /* استفاده از dvh برای ارتفاع دقیق بدون نوار ابزار */
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(20, 1fr);
  gap: 0;
  box-sizing: border-box;
  border: 1px solid red;
}

/* آیتم‌های گرید */
.tItem {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  font-size: 12px;
  box-sizing: border-box;
}
